<header>
  <app-nav></app-nav>
  <div class="tagline">
    <h1>
      Get Mentor <br />
      Be Mentor
    </h1>
    <p>
      Программа наставничества между школьниками 10-11 классов и молодыми
      профессионалами Кыргызстана
    </p>
    <div>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSdJnE704sTsmmnDNzkNZ6aARKZ2UnDDaswHr3ZY5kJB5JjIrA/viewform"
        target="_blank"
        class="primary-action"
        >Подать заявку</a
      >
      <a href="#" class="learn-more">Подробнее</a>
    </div>
  </div>
</header>
