<footer>
  <ul>
    <li><a href="#">Партнеры</a></li>
    <li>
      <a href="http://prokg.org/ru" target="_blank"
        ><img
          src="assets/images/prokg.jpg"
          width="30px"
          alt="prokg club"
          title="ProKG club"
      /></a>
    </li>
  </ul>
  <ul id="contacts">
    <li><a href="#">Контакты</a></li>
    <li><a href="#"><i class="fa fa-envelope"></i>&nbsp;janarka.k@gmail.com</a></li>
    <li><a href="#"><i class="fa fa-phone"></i>&nbsp;+996 553 243546</a></li>
  </ul>
  <ul>
    <li>
      <a href="https://www.facebook.com/edumentorx/"
        ><i class="fab fa-facebook-f"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/edumentor.kg/"
        ><i class="fab fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://t.me/edumentorx"><i class="fab fa-telegram"></i></a>
    </li>
  </ul>
</footer>
