<footer>
  <ul>
    <li><a href="#">Партнеры</a></li>
    <li>
      <a href="http://prokg.org/ru" target="_blank"
        ><img
          src="assets/images/prokg.jpg"
          width="30px"
          alt="prokg club"
          title="ProKG club"
      /></a>
    </li>
  </ul>
  <ul>
    <li><a href="#">О нас</a></li>
    <li><a href="#">Наша команда</a></li>
    <li><a href="#">Контакты</a></li>
  </ul>
  <ul>
    <li>
      <a href="https://www.facebook.com/edumentorx/"
        ><i class="fab fa-facebook-f"></i
      ></a>
    </li>
    <li>
      <a href="https://www.instagram.com/edumentor.kg/"
        ><i class="fab fa-instagram"></i
      ></a>
    </li>
  </ul>
</footer>
