<main>
  <div class="single-block">
    <h3>Show the world what you can do.</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam
      nulla, ornare ac leo nec, imperdiet ultrices eros. Aliquam ullamcorper
      turpis lorem, id porttitor elit sodales eget. Sed vitae scelerisque quam.
      Donec tellus ante, lobortis id sem sed, porttitor tempor lacus. Donec et
      purus lorem. Nam nec ante vel nisi luctus aliquam volutpat nec erat. Ut
      iaculis imperdiet ligula, in blandit leo finibus pulvinar.
    </p>
  </div>

  <div class="multi-section">
    <img
      src="/assets/bored-student.jpg"
    />
    <div>
      <h3>Вспомните свои школьные годы</h3>
      <p>
        Много ли возможностей вы знали? А сколько упустили? 😟 <br />
        Уверены, каждый думал о том, сколько мог сделать, если бы вернул
        школьные годы. Уделял бы больше времени саморазвитию, изучению
        иностранных языков и вкладу в свое будущее👌🏻 Сейчас ситуация в школах
        особо не изменилась. Большинство также не знает о многих возможностях и
        не всегда в этом виноваты они. Бывает так, что просто нет старшего
        человека, который направил бы в нужное русло. И мы хотим решить это,
      </p>
    </div>
  </div>

  <div class="multi-section-two">
    <img class="a" src="/assets/mentor-with-student.jpg" />
    <div class="b">
      <h3>И мы хотим решить это</h3>
      <p>
        cвязать школьников с людьми, которые могут делиться своим опытом в
        вопросах личностного развития, проф-ориентации, поступления в зарубежные
        ВУЗы и участия в программах✨
      </p>
    </div>
  </div>

  <div class="single-block">
    <h3>Хочешь стать частью этого движения?</h3>
    <p>
      На данный момент мы отбираем молодых лидеров в качестве менторов (это не
      будет занимать много времени, все будет онлайн) и школьников, у которых
      есть большое желание становиться лучше.
    </p>
    <a href="#" class="primary-action">Подать заявку</a>
  </div>
</main>
