main {
  padding: 0px;
}

main div h3,
main div div h3 {
  font-size: 2rem;
}

main div.single-block,
main div.multi-section,
main div.multi-section-two {
  margin: 0px auto;

  padding: 50px;
}
main div.single-block {
  width: 40%;
  text-align: center;
}
