body {
  padding: 0;
  margin: 0;
  background: #222;
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}
body * {
  transition: all 0.4s ease-in-out;
}

h1,
h2,
h3,
h4 {
  font-family: Merriweather, Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 10px 18px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 18px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 18px -7px rgba(0, 0, 0, 0.75);
  background: #fff;
  color: #111;
}

.primary-action,
.learn-more {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  font-size: 1.1rem;
  width: 130px;
  color: #fff;
}

.primary-action {
  background: deeppink;
  text-decoration: none;
  color: #eee;
  text-shadow: none;
}
