body {
  padding: 0;
  margin: 0;
  background: #222;
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}
body * {
  transition: all 0.4s ease-in-out;
}

h1,
h2,
h3,
h4 {
  font-family: Merriweather, Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-size: 2rem;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 10px 18px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 18px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 18px -7px rgba(0, 0, 0, 0.75);
  background: #fff;
  color: #111;
}

.primary-action, .primary-action:hover,
.learn-more, .learn-more:hover {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  font-size: 1.1rem;
  color: #fff;
}

.primary-action {
  background: deeppink;
  text-decoration: none;
  text-shadow: none;
}

@media (max-width: 599px) and (min-width: 320px) {
  h3 {
    font-size: 1.5rem;
  }

  .primary-action {
    padding: 5px;
  }
}

